:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --white: #ffffff;
}

body {
    color: var(--slate);
    background-color: var(--white);

    font-family: 'Roboto', sans-serif;;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--navy-blue);
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

img {
    margin: 0;
    display: block;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    outline: 1px solid red;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

header {
    border-bottom: 1px var(--cornflower) solid;
}

.header__wrap {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: space-between;
}

.header__nav-wrap {
    display: flex;
    align-items: center;
}

.logo {
    color: var(--navy-blue);

    font-family: 'Raleway',
        sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo span {
    color: var(--iris);
}

.logo.logo--alternative {
    color: var(--cloud);
}

.nav-list {
    display: flex;
    margin-left: 76px;
}

.nav-list li:not(:last-child) {
    margin-right: 40px;
}

.nav-list a {
    color: var(--navy-blue);

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.nav-list a:hover,
.nav-list a:focus {
    color: var(--cloud);
    background-color: var(--iris);
}

.contacts-list {
    display: flex;
    margin-right: 0;
}

.contacts-list li:not(:last-child) {
    margin-right: 40px;
}

.contacts-list a{
    color: var(--slate);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.contacts-list a:hover,
.contacts-list a:focus {
    color: var(--iris);
}

.banner {
    background-color: var(--light-slate);
    padding: 188px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner__title {
    color: var(--white);

    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;

    margin-bottom: 48px;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;


    border-radius: 4px;

    padding: 16px 32px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.btn:hover,
.btn:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.banner__btn {
    background-color: var(--iris);
    color: var(--white);

    padding: 16px 32px;
    border: 0;
}

.banner__btn:hover,
.banner__btn:focus {
    background-color: var(--white);
    color: var(--iris);
}

.feature__list {
    display: flex;
    justify-content: space-around;
}

.feature__list li {
    width: 264px;

    border: solid var(--cornflower) 1px;
}

.feature__list h2 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;

    margin-bottom: 8px;
}

.feature__list p {
    color: var(--slate);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.section-title {
    color: var(--navy-blue);

    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.72px;
}

.offers {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offers h2 {
    margin-bottom: 72px;
}

.offers__list {
    display: flex;
}

.offers__list li:not(:last-child) {
    margin-right: 24px;
}

.team {
    background-color: var(--cloud);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.team h2 {
    margin-bottom: 72px;
}

.team__list {
    display: flex;

    margin-top: 0;
}

.team__list li {
    background-color: var(--white);

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.team__list li:not(:last-child) {
    margin-right: 24px;
}

.team__info {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px 0;
}

.team .team__name {
    color: var(--navy-blue);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;

    margin-bottom: 8px;
}

.team .team__position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

footer {
    background-color: var(--navy-blue);
}

footer .container {
    padding-top: 100px;
    padding-bottom: 100px;
}

footer .footer__text {
    color: var(--cloud);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;

    margin-top: 16px;
}

.filter {
    margin-bottom: 72px;
}

.filter__list {
    display: flex;
    justify-content: center;
}

.filter__list li:not(:last-child) {
    margin-right: 24px;
}

.filter__list .btn {
    border: 1px solid var(--CORNFLOWER);
    background: var(--CLOUD, #F4F4FD);
    color: var(--iris);

    box-shadow: none;
}

.filter__list .btn:hover,
.filter__list .btn:focus {
    background-color: var(--ocean);
    color: var(--white);
    border: none;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.gallery__list {
    margin-top: 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -12px;
}

.gallery__list li {
    width: calc((100%-6*15px)/2);
    margin: 15px;
}

.gallery__project-info {
    padding: 32px 16px;
    border-left: solid var(--cornflower) 1px;
    border-right: solid var(--cornflower) 1px;
    border-bottom: solid var(--cornflower) 1px;
}

.gallery__list h2 {
    color: var(--navy-blue);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.gallery__list p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}